* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: clamp(210px, 20vw, 250px) 1fr;
  grid-template-rows: 135px 1fr;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.left {
  display: grid;
  background-color: #2995d4;
  grid-row: 1 / 4;
  grid-column: 1 / 1;
  color: white;
  letter-spacing: .25px;
  align-self: start;
  position: sticky;
  top:0;
  height: 100vh;
  box-sizing: border-box;
}

.dash-logo {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    margin-bottom: 42px;
}

.dash-logo h5 {
    margin: 0;
    font-size: 1.5rem;
}

nav {
    display: grid;
    gap: 52px;
    font-size: 20px;
}

.side-content-a, .side-content-b{
    display: grid;
    align-items: center;
    list-style: none;
    padding: 0 8px;
    margin: 0;
    gap: 16px;
    font-weight: bold;
    cursor: pointer;
}

header {
  position: relative;
  padding: 4px 54px 10px 36px;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 12px;
}

#header-top {
    display: grid;
    grid-template-columns: auto 230px;
    column-gap: clamp(25px, 8vw, 100px);
}

#header-top div {
  display: flex;
  align-items: center;
}

#user-top .user-icon {
  display: grid;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: #393f4d;
  height: 200px;
  width: 1000px;
  color: white;
}

#user-info {
  display: grid;
  column-gap: 32px;
  grid-template-columns: 40px auto;
}

#user-info .user-icon {
  display: grid;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#user-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

#user-info p {
  margin: 0;
  font-weight: bold;
  font-size: 0.75rem;
}

#user-info .user-name {
  font-size: 1.3rem;
}

.search-button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.notification-button {
  border: none;
  background-color: white;
  height: 30px;
  cursor: pointer;
}

#search-bar {
  border: none;
  background-color: aquamarine;
  margin-left: 30px;
  padding: 4px 16px;
  border-radius: 13px;
  flex-grow: 1;
}


.container{
  background-color: green;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.logo {
  justify-self: start;
}

.menu {
  align-self: center;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.article {
  display: grid;
  grid-row: 3 / 3;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  height: 200px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  padding: 5px;
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.announcements .window {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    color: black;
    font-size: 20px;
    gap: 15px;
    background-color: black;
}
