* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: clamp(210px, 20vw, 250px) 1fr;
  grid-template-rows: 135px 1fr;
  min-height: 100vh;
  box-sizing: border-box;
}

.container {
  display: grid;
  width: 100%;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.left {
  display: grid;
  background-color: #2995d4;
  grid-row: 1 / 4;
  grid-column: 1 / 1;
  color: white;
  letter-spacing: .25px;
  align-self: start;
  position: sticky;
  top:0;
  height: 100vh;
  width: 30vh;
  box-sizing: border-box;
}

.dash-logo {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    margin-bottom: 42px;
}

.dash-logo h5 {
    margin: 0;
    font-size: 1.5rem;
}

nav {
    display: grid;
    gap: 52px;
    font-size: 20px;
}

.side-content-a, .side-content-b{
    display: grid;
    align-items: center;
    list-style: none;
    padding: 0 8px;
    margin: 0;
    gap: 16px;
    font-weight: bold;
    cursor: pointer;
}

header {
  position: relative;
  padding: 4px 54px 10px 36px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  row-gap: 12px;
}

#header-top {
    display: grid;
    grid-template-columns: auto 230px;
    column-gap: clamp(25px, 8vw, 100px);
}

#header-top div {
  display: flex;
  align-items: center;
}

#user-top .user-icon {
  display: grid;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.search-button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.notification-button {
  border: none;
  background-color: white;
  height: 30px;
  cursor: pointer;
}

#search-bar {
  border: none;
  background-color: aquamarine;
  margin-left: 30px;
  padding: 4px 16px;
  border-radius: 13px;
  flex-grow: 1;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-basis: 100%;
  width: 100%;
}

#user-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

#user-info .user-icon {
  display: grid;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#user-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

#user-info p {
  margin: 0;
  font-weight: bold;
  font-size: 0.75rem;
}

#user-info .user-name {
  font-size: 1.3rem;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

#buttons button {
  border: none;
  background-color: aquamarine;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color o.3s ease;
}

#buttons button:hover {
  background-color: rgb(177, 253, 228);
}

.container{
  background-color: green;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.menu {
  align-self: center;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

projects {
  display: grid;
  padding: 16px 28px 40px 16px;
  grid-template-columns: auto clamp(150px, 20vw, 275px);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "pro an" "pro trend";
  grid-gap: 22px 20px;
}

projects h2 {
  margin: 8px 0;
  font-size: 1.1rem;
}

#projects-sect, #announcements-sect, #trending-sect {
  display: grid;
  grid-template-rows: auto 1fr;
}

#projects-sect {
  grid-area: pro;
}

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 22px 20px;
}

.card {
  display: grid;
  grid-template-rows: 20px auto 20px;
  background-color: #FFFFFF;
  border-radius: 6px;
  border-left: 6px solid var(--color-2);
  padding: 25px 18px 21px 18px;
  box-shadow: 2px 3px 4px rgba(0,0, 0, 0.2);
  color: black;
}

.discription {
  padding: 5px;
  color: black;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
}

.project-icons {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  column-gap: 24px;
  justify-self: end;
  cursor: pointer;
}

.project-icons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title {
  font-size: 18px;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.announcements-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    color: black;
    font-size: 20px;
    gap: 15px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.announcement:not(:last-child) {
  border-bottom: 1px solid rgb(177, 253, 228);
}

.announcement-t {
  margin: 14px 0 1px;
  font-weight: bold;
  font-size: 0.8rem;
}

.announcement-d {
  margin: 0 0 14px;
  font-size: 0.65rem;
}

#trending-grid {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 16px;
  align-items: center;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 16px;
}

.trend {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
}

.trend .avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.trend div {
  align-self: center;
}

.trend-n {
  margin: 0 0 2px;
  font-size: 0.8rem;
}

.trend-d {
  margin: 0;
  font-size: 0.8rem;
}